            <div class="row">
                <div class="col-md-12">
                    <div class="banner my-4">
                        <!-- <img src="assets/img/banner.jpg" alt="AREAER"> -->
                    </div>
                </div>
            </div>

             <div class="row card_grid">
                <div class="col-md-6">
                    <h4>News: </h4>
                    <div class="card">
                        <img src="assets/img/card1_img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">January 28, 2020</div>
                            <p class="card-text">Diplomats from the European Union’s 28 countries agreed
                                to advance with key legislation for green financial products.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Upcoming Events:</h4>
                    <div class="card">
                        <img src="assets/img/card2_img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">January 28, 2020</div>
                            <p class="card-text">
                                Building on South Asia's Economic Success
                            </p>
                        </div>
                    </div>
                </div>
            </div>