<style>
    .modal-header {
        padding-top: 6px;
        padding-left: 16px;
        z-index: 1 !important;
        background: inherit;
        background-color: #314551;
        height: 35px;
        text-align: left;
        color: white;
        vertical-align: middle !important;
    }
</style>
<div class="modal-header">
    <span>User Profile</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="materialwidth">
                        <input type="text" [(ngModel)]="userObj.userId" matInput class="form-control" id="txtUserId" required placeholder="Enter User Id">
                    </mat-form-field>
                </div>
            </div>
            <div class="row top5">
                <div class="col-sm-12">
                    <mat-form-field class="materialwidth">
                        <input type="text" [(ngModel)]="userObj.userName" matInput class="form-control" id="txtUsername" required placeholder="Enter User Name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row top5">
                <div class="col-sm-12">
                    <mat-checkbox [(ngModel)]="userObj.isAdmin" class="form-control" id="chkisAdmin">Admin</mat-checkbox>
                </div>
            </div>
          
            <div class="row top5" style="margin-top:20px;">
                <div class="col-sm-12">
                    <b>CreatedBy : </b> {{userObj.createdBy}} <b> CreatedDate :</b> {{userObj.createdDate  | date:'MM-dd-yyyy'}}
                </div>
               
            </div>
            <div class="row top5" style="margin-top:20px;">
                <div class="col-sm-12">
                    <b>UpdatedBy : </b> {{userObj.updatedBy}} <b> UpdatedDate :</b> {{userObj.updatedDate  | date:'MM-dd-yyyy'}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-md btn-bgcolor" type="submit" (click)="saveUser()">Save</button>
    <button class="btn btn-md btn-bgcolor" (click)="closeModal()">Close</button>
</div>
